<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar}"></div>
<div class="card" th:each="i : ${items}">
    <img th:src="${i.imageurl != null} ? ${i.imageurl} : 'https://placehold.co/300'">
    <div>
        <a th:href="@{'/detail/'+${i.id}}">
            <h4 th:text="${i.title}"></h4>
        </a>
        <p th:text="${i.price}"></p>
        <a th:href="@{'/edit/'+${i.id}}">✏️</a>
        <span th:onclick="fetch('/item?id=[[${i.id}]]', { method : 'DELETE'})
                .then(r => r.text())
                .then(() => {
                    location.reload();
                })
        ">🗑️</span>
    </div>
</div>
<div class="pagination" style="text-align: center; margin-top: 30px;">

    <div th:if="${totalPages > 0}">
        <span th:each="i : ${#numbers.sequence(1, totalPages)}">

            <a th:href="@{'/list/page/' + ${i}}"
               th:text="${i}"
               style="display: inline-block; padding: 8px 12px; margin: 0 5px; border: 1px solid #ddd; text-decoration: none; color: black; border-radius: 4px;">
            </a>

        </span>
    </div>

</div>
</body>
</html>